-- AlterEnum
ALTER TYPE "public"."Permission" ADD VALUE 'CREATE_FACULTY';
ALTER TYPE "public"."Permission" ADD VALUE 'VIEW_FACULTY';
ALTER TYPE "public"."Permission" ADD VALUE 'EDIT_FACULTY';
ALTER TYPE "public"."Permission" ADD VALUE 'DELETE_FACULTY';
