--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (Debian 17.5-1.pgdg120+1)
-- Dumped by pg_dump version 17.5 (Debian 17.5-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: erp_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO erp_user;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: erp_user
--

COMMENT ON SCHEMA public IS '';


--
-- Name: AttendanceMethod; Type: TYPE; Schema: public; Owner: erp_user
--

CREATE TYPE public."AttendanceMethod" AS ENUM (
    'MANUAL',
    'QR',
    'BIOMETRIC',
    'GPS'
);


ALTER TYPE public."AttendanceMethod" OWNER TO erp_user;

--
-- Name: AttendanceMode; Type: TYPE; Schema: public; Owner: erp_user
--

CREATE TYPE public."AttendanceMode" AS ENUM (
    'DAYWISE',
    'PERIODWISE',
    'BOTH'
);


ALTER TYPE public."AttendanceMode" OWNER TO erp_user;

--
-- Name: AttendanceStatus; Type: TYPE; Schema: public; Owner: erp_user
--

CREATE TYPE public."AttendanceStatus" AS ENUM (
    'PRESENT',
    'ABSENT',
    'LATE',
    'LEAVE'
);


ALTER TYPE public."AttendanceStatus" OWNER TO erp_user;

--
-- Name: AttendanceType; Type: TYPE; Schema: public; Owner: erp_user
--

CREATE TYPE public."AttendanceType" AS ENUM (
    'DAYWISE',
    'PERIODWISE'
);


ALTER TYPE public."AttendanceType" OWNER TO erp_user;

--
-- Name: ClassEnum; Type: TYPE; Schema: public; Owner: erp_user
--

CREATE TYPE public."ClassEnum" AS ENUM (
    'NURSERY',
    'LKG',
    'UKG',
    'FIRST',
    'SECOND',
    'THIRD',
    'FOURTH',
    'FIFTH',
    'SIXTH',
    'SEVENTH',
    'EIGHTH',
    'NINTH',
    'TENTH',
    'ELEVENTH',
    'TWELFTH'
);


ALTER TYPE public."ClassEnum" OWNER TO erp_user;

--
-- Name: DiscountType; Type: TYPE; Schema: public; Owner: erp_user
--

CREATE TYPE public."DiscountType" AS ENUM (
    'PERCENTAGE',
    'FIXED'
);


ALTER TYPE public."DiscountType" OWNER TO erp_user;

--
-- Name: ENTITES; Type: TYPE; Schema: public; Owner: erp_user
--

CREATE TYPE public."ENTITES" AS ENUM (
    'STUDENT',
    'TEACHER',
    'PARENT',
    'USER'
);


ALTER TYPE public."ENTITES" OWNER TO erp_user;

--
-- Name: FeeHeadType; Type: TYPE; Schema: public; Owner: erp_user
--

CREATE TYPE public."FeeHeadType" AS ENUM (
    'ADMISSION',
    'TUITION',
    'HOSTEL',
    'TRANSPORT',
    'LAB',
    'EXAM',
    'SPORTS',
    'LIBRARY',
    'ACTIVITY'
);


ALTER TYPE public."FeeHeadType" OWNER TO erp_user;

--
-- Name: FeePaymentType; Type: TYPE; Schema: public; Owner: erp_user
--

CREATE TYPE public."FeePaymentType" AS ENUM (
    'MONTHLY',
    'INSTALLMENT',
    'ONE_TIME'
);


ALTER TYPE public."FeePaymentType" OWNER TO erp_user;

--
-- Name: LeaveType; Type: TYPE; Schema: public; Owner: erp_user
--

CREATE TYPE public."LeaveType" AS ENUM (
    'CASUAL',
    'SICK',
    'DUTY',
    'MATERNITY',
    'PATERNITY',
    'UNPAID'
);


ALTER TYPE public."LeaveType" OWNER TO erp_user;

--
-- Name: LectureStatus; Type: TYPE; Schema: public; Owner: erp_user
--

CREATE TYPE public."LectureStatus" AS ENUM (
    'SCHEDULED',
    'ONGOING',
    'COMPLETED',
    'BLOCKED',
    'REOPENED_BY_ADMIN',
    'CANCELLED'
);


ALTER TYPE public."LectureStatus" OWNER TO erp_user;

--
-- Name: PaymentMode; Type: TYPE; Schema: public; Owner: erp_user
--

CREATE TYPE public."PaymentMode" AS ENUM (
    'CASH',
    'UPI',
    'ONLINE',
    'BANK_TRANSFER',
    'CHEQUE',
    'CARD'
);


ALTER TYPE public."PaymentMode" OWNER TO erp_user;

--
-- Name: PaymentStatus; Type: TYPE; Schema: public; Owner: erp_user
--

CREATE TYPE public."PaymentStatus" AS ENUM (
    'PENDING',
    'PARTIAL',
    'PAID'
);


ALTER TYPE public."PaymentStatus" OWNER TO erp_user;

--
-- Name: Permission; Type: TYPE; Schema: public; Owner: erp_user
--

CREATE TYPE public."Permission" AS ENUM (
    'ALL',
    'CREATE_SCHOOL',
    'VIEW_SCHOOL',
    'EDIT_SCHOOL',
    'DELETE_SCHOOL',
    'CREATE_BRANCH',
    'VIEW_BRANCH',
    'EDIT_BRANCH',
    'DELETE_BRANCH',
    'CREATE_CLASS',
    'VIEW_CLASS',
    'EDIT_CLASS',
    'DELETE_CLASS',
    'CREATE_CLASSNAME',
    'VIEW_CLASSNAME',
    'CREATE_STUDENT',
    'VIEW_STUDENT',
    'EDIT_STUDENT',
    'DELETE_STUDENT',
    'BULK_UPLOAD_STUDENTS',
    'GET_BULK_UPLOAD_SHEET',
    'CREATE_PARENT',
    'VIEW_PARENT',
    'EDIT_PARENT',
    'DELETE_PARENT',
    'CREATE_FEE_HEAD',
    'VIEW_FEE_HEAD',
    'EDIT_FEE_HEAD',
    'DELETE_FEE_HEAD',
    'CREATE_FEE_TEMPLATE',
    'VIEW_FEE_TEMPLATE',
    'EDIT_FEE_TEMPLATE',
    'DELETE_FEE_TEMPLATE',
    'GENERATE_FEE_DOCS',
    'VIEW_FEE_DOCS',
    'EDIT_FEE_DOC',
    'DELETE_FEE_DOC',
    'CREATE_FEE_PAYMENT',
    'VIEW_FEE_PAYMENTS',
    'EDIT_FEE_PAYMENT',
    'DELETE_FEE_PAYMENT',
    'CREATE_FEE_TRANSACTION',
    'VIEW_FEE_TRANSACTIONS',
    'VIEW_BRANCH_FEE_REPORT',
    'CREATE_SESSION',
    'VIEW_SESSION',
    'EDIT_SESSION',
    'DELETE_SESSION',
    'LOCK_SESSION',
    'PROMOTE_STUDENTS',
    'VIEW_REPORTS',
    'EXPORT_REPORTS',
    'GENERATE_ID_CARD',
    'GENERATE_TRANSFER_CERTIFICATE',
    'UPLOAD_DOCUMENT',
    'VIEW_DOCUMENT',
    'DELETE_DOCUMENT',
    'SEND_NOTIFICATION',
    'VIEW_NOTIFICATIONS',
    'DELETE_NOTIFICATION',
    'CREATE_DISCOUNT_POLICY',
    'VIEW_DISCOUNT_POLICY',
    'UPDATE_DISCOUNT_POLICY',
    'DELETE_DISCOUNT_POLICY',
    'APPLY_DISCOUNT',
    'DELETE_APPLY_DISCOUNT',
    'VIEW_APPLY_DISCOUNT',
    'GET_CUSTOM_FIELD',
    'CREATE_CUSTOM_FIELD',
    'UPDATE_CUSTOM_FIELD',
    'DELETE_CUSTOM_FIELD',
    'REORDER_CUSTOM_FIELD'
);


ALTER TYPE public."Permission" OWNER TO erp_user;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: erp_user
--

CREATE TYPE public."Role" AS ENUM (
    'SUPERADMIN',
    'DIRECTOR',
    'PRINCIPAL',
    'TEACHER',
    'LIBRARIAN',
    'RECEPTIONIST',
    'ACCOUNTANT',
    'SCHOOL_ADMIN',
    'STUDENT',
    'FATHER',
    'MOTHER'
);


ALTER TYPE public."Role" OWNER TO erp_user;

--
-- Name: SchoolDayType; Type: TYPE; Schema: public; Owner: erp_user
--

CREATE TYPE public."SchoolDayType" AS ENUM (
    'WORKING',
    'NON_WORKING',
    'HOLIDAY'
);


ALTER TYPE public."SchoolDayType" OWNER TO erp_user;

--
-- Name: SchoolFacultyRole; Type: TYPE; Schema: public; Owner: erp_user
--

CREATE TYPE public."SchoolFacultyRole" AS ENUM (
    'TEACHER',
    'LIBRARIAN',
    'RECEPTIONIST',
    'ACCOUNTANT',
    'SCHOOL_ADMIN'
);


ALTER TYPE public."SchoolFacultyRole" OWNER TO erp_user;

--
-- Name: SessionStatus; Type: TYPE; Schema: public; Owner: erp_user
--

CREATE TYPE public."SessionStatus" AS ENUM (
    'UPCOMING',
    'ACTIVE',
    'COMPLETED',
    'LOCKED'
);


ALTER TYPE public."SessionStatus" OWNER TO erp_user;

--
-- Name: Weekday; Type: TYPE; Schema: public; Owner: erp_user
--

CREATE TYPE public."Weekday" AS ENUM (
    'MON',
    'TUE',
    'WED',
    'THU',
    'FRI',
    'SAT',
    'SUN'
);


ALTER TYPE public."Weekday" OWNER TO erp_user;

--
-- Name: customFieldType; Type: TYPE; Schema: public; Owner: erp_user
--

CREATE TYPE public."customFieldType" AS ENUM (
    'TEXT',
    'TEXTAREA',
    'NUMBER',
    'DATE',
    'DATETIME',
    'EMAIL',
    'PHONE',
    'BOOLEAN',
    'SELECT',
    'MULTISELECT',
    'RADIO',
    'CHECKBOX',
    'FILE',
    'IMAGE',
    'URL',
    'CURRENCY',
    'PERCENTAGE',
    'RATING',
    'COLOR',
    'JSON'
);


ALTER TYPE public."customFieldType" OWNER TO erp_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AcademicMonth; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."AcademicMonth" (
    id text NOT NULL,
    name text NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone NOT NULL,
    "sessionId" text NOT NULL
);


ALTER TABLE public."AcademicMonth" OWNER TO erp_user;

--
-- Name: AcademicSession; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."AcademicSession" (
    id text NOT NULL,
    name text NOT NULL,
    "isCurrent" boolean DEFAULT false NOT NULL,
    "isLocked" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "branchId" text NOT NULL,
    "endMonthId" text,
    "startMonthId" text
);


ALTER TABLE public."AcademicSession" OWNER TO erp_user;

--
-- Name: Attendance; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."Attendance" (
    id text NOT NULL,
    "enrollmentId" text NOT NULL,
    "schoolDayId" text NOT NULL,
    "lectureId" text,
    type public."AttendanceType" NOT NULL,
    status public."AttendanceStatus" NOT NULL,
    method public."AttendanceMethod" NOT NULL,
    "markedById" text,
    "markedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Attendance" OWNER TO erp_user;

--
-- Name: AttendanceAuditLog; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."AttendanceAuditLog" (
    id text NOT NULL,
    "lectureId" text NOT NULL,
    action text NOT NULL,
    "performedById" text NOT NULL,
    remarks text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."AttendanceAuditLog" OWNER TO erp_user;

--
-- Name: Branch; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."Branch" (
    id text NOT NULL,
    name text NOT NULL,
    "schoolId" text NOT NULL,
    "principalId" text,
    address text NOT NULL,
    "logoUrl" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "softwareCharge" double precision DEFAULT 0 NOT NULL
);


ALTER TABLE public."Branch" OWNER TO erp_user;

--
-- Name: Class; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."Class" (
    id text NOT NULL,
    "branchId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "sectionId" text NOT NULL,
    "classLabelId" text NOT NULL
);


ALTER TABLE public."Class" OWNER TO erp_user;

--
-- Name: ClassLabel; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."ClassLabel" (
    id text NOT NULL,
    name text NOT NULL,
    "branchId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ClassLabel" OWNER TO erp_user;

--
-- Name: ClassTeacher; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."ClassTeacher" (
    "classId" text NOT NULL,
    "teacherId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ClassTeacher" OWNER TO erp_user;

--
-- Name: CustomField; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."CustomField" (
    id text NOT NULL,
    "entityType" public."ENTITES" NOT NULL,
    name text NOT NULL,
    label text NOT NULL,
    options jsonb,
    required boolean DEFAULT false NOT NULL,
    regex text,
    "minLength" integer,
    "maxLength" integer,
    "branchId" text NOT NULL,
    "createdById" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    type public."customFieldType" NOT NULL
);


ALTER TABLE public."CustomField" OWNER TO erp_user;

--
-- Name: CustomFieldValue; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."CustomFieldValue" (
    id text NOT NULL,
    "customFieldId" text NOT NULL,
    "entityType" public."ENTITES" NOT NULL,
    "entityId" text NOT NULL,
    value text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."CustomFieldValue" OWNER TO erp_user;

--
-- Name: Discount; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."Discount" (
    id text NOT NULL,
    "feeDocId" text,
    "feeTemplateId" text,
    "transactionId" text,
    "appliedAmount" double precision NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "policyId" text
);


ALTER TABLE public."Discount" OWNER TO erp_user;

--
-- Name: DiscountPolicy; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."DiscountPolicy" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "discountType" public."DiscountType" NOT NULL,
    percentage double precision,
    amount double precision,
    "usageLimit" integer,
    "expiryDate" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "branchId" text NOT NULL
);


ALTER TABLE public."DiscountPolicy" OWNER TO erp_user;

--
-- Name: Enrollment; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."Enrollment" (
    id text NOT NULL,
    "studentId" text NOT NULL,
    "classId" text NOT NULL,
    "sessionId" text NOT NULL,
    "rollNo" text NOT NULL,
    "isPromoted" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Enrollment" OWNER TO erp_user;

--
-- Name: FeeDoc; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."FeeDoc" (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    amount double precision NOT NULL,
    "enrollmentId" text NOT NULL,
    "feeHeadId" text NOT NULL,
    "paymentType" public."FeePaymentType" NOT NULL,
    "templateId" text,
    "afterAmount" double precision DEFAULT 0 NOT NULL,
    status public."PaymentStatus" DEFAULT 'PENDING'::public."PaymentStatus" NOT NULL
);


ALTER TABLE public."FeeDoc" OWNER TO erp_user;

--
-- Name: FeeHead; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."FeeHead" (
    id text NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."FeeHead" OWNER TO erp_user;

--
-- Name: FeePayment; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."FeePayment" (
    id text NOT NULL,
    "feeDocId" text NOT NULL,
    "academicMonthId" text,
    name text,
    amount double precision NOT NULL,
    "dueDate" timestamp(3) without time zone NOT NULL,
    "isPaid" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "paidAmount" double precision DEFAULT 0 NOT NULL,
    "fineAmount" double precision DEFAULT 0 NOT NULL
);


ALTER TABLE public."FeePayment" OWNER TO erp_user;

--
-- Name: FeePaymentAllocation; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."FeePaymentAllocation" (
    id text NOT NULL,
    "feePaymentId" text NOT NULL,
    "transactionId" text NOT NULL,
    "allocatedAmount" double precision NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."FeePaymentAllocation" OWNER TO erp_user;

--
-- Name: FeeTemplate; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."FeeTemplate" (
    id text NOT NULL,
    "sessionId" text NOT NULL,
    "branchId" text NOT NULL,
    "classLabelId" text NOT NULL,
    "feeHeadId" text NOT NULL,
    amount double precision NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "dueDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    installements double precision,
    "paymentType" public."FeePaymentType" DEFAULT 'ONE_TIME'::public."FeePaymentType" NOT NULL
);


ALTER TABLE public."FeeTemplate" OWNER TO erp_user;

--
-- Name: FeeTransaction; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."FeeTransaction" (
    id text NOT NULL,
    "amountPaid" double precision NOT NULL,
    "paidOn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    remarks text,
    "createdById" text NOT NULL,
    "enrollmentId" text NOT NULL,
    mode public."PaymentMode" NOT NULL,
    "receiptNo" text NOT NULL,
    "referenceId" text,
    "returnedAmt" double precision DEFAULT 0 NOT NULL
);


ALTER TABLE public."FeeTransaction" OWNER TO erp_user;

--
-- Name: FeeTransactionItem; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."FeeTransactionItem" (
    id text NOT NULL,
    "transactionId" text NOT NULL,
    "feeDocId" text NOT NULL,
    "paidAmount" double precision NOT NULL
);


ALTER TABLE public."FeeTransactionItem" OWNER TO erp_user;

--
-- Name: LateFee; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."LateFee" (
    id text NOT NULL,
    "feeDocId" text,
    "feeTemplateId" text,
    "transactionId" text,
    amount double precision NOT NULL,
    reason text,
    "paymentId" text
);


ALTER TABLE public."LateFee" OWNER TO erp_user;

--
-- Name: Lecture; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."Lecture" (
    id text NOT NULL,
    "classId" text NOT NULL,
    "subjectId" text NOT NULL,
    "teacherId" text NOT NULL,
    "dayOfWeek" public."Weekday" NOT NULL,
    "schoolDayId" text NOT NULL,
    "startTime" timestamp(3) without time zone NOT NULL,
    "endTime" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Lecture" OWNER TO erp_user;

--
-- Name: Parent; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."Parent" (
    id text NOT NULL,
    type text NOT NULL,
    "userId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Parent" OWNER TO erp_user;

--
-- Name: School; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."School" (
    id text NOT NULL,
    name text NOT NULL,
    "createdById" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."School" OWNER TO erp_user;

--
-- Name: SchoolDay; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."SchoolDay" (
    id text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    "sessionId" text NOT NULL,
    type public."SchoolDayType" NOT NULL
);


ALTER TABLE public."SchoolDay" OWNER TO erp_user;

--
-- Name: SchoolFaculty; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."SchoolFaculty" (
    id text NOT NULL,
    userid text DEFAULT '1d04d74e-2e18-4d9e-a1c2-6c65e9d65d42'::text NOT NULL,
    name text NOT NULL,
    "branchId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."SchoolFaculty" OWNER TO erp_user;

--
-- Name: SchoolFacultyAttendance; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."SchoolFacultyAttendance" (
    id text NOT NULL,
    "teacherId" text NOT NULL,
    "schoolDayId" text NOT NULL,
    "lectureId" text,
    type public."AttendanceType" NOT NULL,
    status public."AttendanceStatus" NOT NULL,
    reason text,
    "markedById" text,
    "markedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."SchoolFacultyAttendance" OWNER TO erp_user;

--
-- Name: Section; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."Section" (
    id text NOT NULL,
    name text NOT NULL,
    "branchId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Section" OWNER TO erp_user;

--
-- Name: Student; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."Student" (
    id text NOT NULL,
    "userId" text,
    "branchId" text NOT NULL,
    aadhaar text,
    "abcId" text,
    "admissionNo" text,
    allergies text,
    "barcodeUrl" text,
    "birthCertificateUrl" text,
    bpl text,
    "bplCertificateUrl" text,
    citizenship text,
    dob timestamp(3) without time zone,
    "familySssmId" text,
    "fatherAadhaar" text,
    "fatherCitizenship" text,
    "fatherEmail" text,
    "fatherIdUrl" text,
    "fatherMobile" text,
    "fatherName" text,
    "fatherOccupation" text,
    "fatherPan" text,
    "fatherPassport" text,
    "fatherVisaNo" text,
    "fatherVisaType" text,
    "fatherVisaValidity" timestamp(3) without time zone,
    gender text,
    "migrationCertificateUrl" text,
    minority text,
    "motherAadhaar" text,
    "motherCitizenship" text,
    "motherEmail" text,
    "motherIdUrl" text,
    "motherMobile" text,
    "motherName" text,
    "motherOccupation" text,
    "motherPan" text,
    "motherPassport" text,
    "motherVisaNo" text,
    "motherVisaType" text,
    "motherVisaValidity" timestamp(3) without time zone,
    "permanentAddress" text,
    "photoUrl" text,
    "previousBoard" text,
    "previousClassMarks" text,
    "previousClassPassed" text,
    "previousClassYear" text,
    "previousSchoolName" text,
    result jsonb,
    "resultStatus" text,
    "scStObc" text,
    "scStObcCertificateUrl" text,
    "specialChild" boolean DEFAULT false,
    "sssmId" text,
    "studentEmail" text,
    "studentMobile" text,
    "tcNo" text,
    "temporaryAddress" text,
    "visaNo" text,
    "visaType" text,
    "visaValidity" timestamp(3) without time zone,
    "studentId" text,
    "fatherId" text,
    "motherId" text,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Student" OWNER TO erp_user;

--
-- Name: Subject; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."Subject" (
    id text NOT NULL,
    name text NOT NULL,
    "classId" text NOT NULL
);


ALTER TABLE public."Subject" OWNER TO erp_user;

--
-- Name: User; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."User" (
    id text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    phone text,
    password text NOT NULL,
    role public."Role"[] DEFAULT ARRAY[]::public."Role"[],
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "isPhoneVerified" boolean NOT NULL,
    "isEmailVerified" boolean NOT NULL,
    permissions public."Permission"[] DEFAULT ARRAY[]::public."Permission"[]
);


ALTER TABLE public."User" OWNER TO erp_user;

--
-- Data for Name: AcademicMonth; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: AcademicSession; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: Attendance; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: AttendanceAuditLog; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: Branch; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: Class; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: ClassLabel; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: ClassTeacher; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: CustomField; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: CustomFieldValue; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: Discount; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: DiscountPolicy; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: Enrollment; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: FeeDoc; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: FeeHead; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: FeePayment; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: FeePaymentAllocation; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: FeeTemplate; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: FeeTransaction; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: FeeTransactionItem; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: LateFee; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: Lecture; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: Parent; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: School; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: SchoolDay; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: SchoolFaculty; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: SchoolFacultyAttendance; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: Section; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: Student; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: Subject; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Name: AcademicMonth AcademicMonth_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."AcademicMonth"
    ADD CONSTRAINT "AcademicMonth_pkey" PRIMARY KEY (id);


--
-- Name: AcademicSession AcademicSession_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."AcademicSession"
    ADD CONSTRAINT "AcademicSession_pkey" PRIMARY KEY (id);


--
-- Name: AttendanceAuditLog AttendanceAuditLog_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."AttendanceAuditLog"
    ADD CONSTRAINT "AttendanceAuditLog_pkey" PRIMARY KEY (id);


--
-- Name: Attendance Attendance_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Attendance"
    ADD CONSTRAINT "Attendance_pkey" PRIMARY KEY (id);


--
-- Name: Branch Branch_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Branch"
    ADD CONSTRAINT "Branch_pkey" PRIMARY KEY (id);


--
-- Name: ClassLabel ClassLabel_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."ClassLabel"
    ADD CONSTRAINT "ClassLabel_pkey" PRIMARY KEY (id);


--
-- Name: ClassTeacher ClassTeacher_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."ClassTeacher"
    ADD CONSTRAINT "ClassTeacher_pkey" PRIMARY KEY ("classId", "teacherId");


--
-- Name: Class Class_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Class"
    ADD CONSTRAINT "Class_pkey" PRIMARY KEY (id);


--
-- Name: CustomFieldValue CustomFieldValue_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."CustomFieldValue"
    ADD CONSTRAINT "CustomFieldValue_pkey" PRIMARY KEY (id);


--
-- Name: CustomField CustomField_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."CustomField"
    ADD CONSTRAINT "CustomField_pkey" PRIMARY KEY (id);


--
-- Name: DiscountPolicy DiscountPolicy_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."DiscountPolicy"
    ADD CONSTRAINT "DiscountPolicy_pkey" PRIMARY KEY (id);


--
-- Name: Discount Discount_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Discount"
    ADD CONSTRAINT "Discount_pkey" PRIMARY KEY (id);


--
-- Name: Enrollment Enrollment_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Enrollment"
    ADD CONSTRAINT "Enrollment_pkey" PRIMARY KEY (id);


--
-- Name: FeeDoc FeeDoc_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."FeeDoc"
    ADD CONSTRAINT "FeeDoc_pkey" PRIMARY KEY (id);


--
-- Name: FeeHead FeeHead_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."FeeHead"
    ADD CONSTRAINT "FeeHead_pkey" PRIMARY KEY (id);


--
-- Name: FeePaymentAllocation FeePaymentAllocation_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."FeePaymentAllocation"
    ADD CONSTRAINT "FeePaymentAllocation_pkey" PRIMARY KEY (id);


--
-- Name: FeePayment FeePayment_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."FeePayment"
    ADD CONSTRAINT "FeePayment_pkey" PRIMARY KEY (id);


--
-- Name: FeeTemplate FeeTemplate_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."FeeTemplate"
    ADD CONSTRAINT "FeeTemplate_pkey" PRIMARY KEY (id);


--
-- Name: FeeTransactionItem FeeTransactionItem_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."FeeTransactionItem"
    ADD CONSTRAINT "FeeTransactionItem_pkey" PRIMARY KEY (id);


--
-- Name: FeeTransaction FeeTransaction_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."FeeTransaction"
    ADD CONSTRAINT "FeeTransaction_pkey" PRIMARY KEY (id);


--
-- Name: LateFee LateFee_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."LateFee"
    ADD CONSTRAINT "LateFee_pkey" PRIMARY KEY (id);


--
-- Name: Lecture Lecture_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Lecture"
    ADD CONSTRAINT "Lecture_pkey" PRIMARY KEY (id);


--
-- Name: Parent Parent_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Parent"
    ADD CONSTRAINT "Parent_pkey" PRIMARY KEY (id);


--
-- Name: SchoolDay SchoolDay_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."SchoolDay"
    ADD CONSTRAINT "SchoolDay_pkey" PRIMARY KEY (id);


--
-- Name: SchoolFacultyAttendance SchoolFacultyAttendance_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."SchoolFacultyAttendance"
    ADD CONSTRAINT "SchoolFacultyAttendance_pkey" PRIMARY KEY (id);


--
-- Name: SchoolFaculty SchoolFaculty_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."SchoolFaculty"
    ADD CONSTRAINT "SchoolFaculty_pkey" PRIMARY KEY (id);


--
-- Name: School School_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."School"
    ADD CONSTRAINT "School_pkey" PRIMARY KEY (id);


--
-- Name: Section Section_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Section"
    ADD CONSTRAINT "Section_pkey" PRIMARY KEY (id);


--
-- Name: Student Student_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Student"
    ADD CONSTRAINT "Student_pkey" PRIMARY KEY (id);


--
-- Name: Subject Subject_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Subject"
    ADD CONSTRAINT "Subject_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: AcademicSession_endMonthId_key; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX "AcademicSession_endMonthId_key" ON public."AcademicSession" USING btree ("endMonthId");


--
-- Name: AcademicSession_startMonthId_key; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX "AcademicSession_startMonthId_key" ON public."AcademicSession" USING btree ("startMonthId");


--
-- Name: AttendanceAuditLog_lectureId_key; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX "AttendanceAuditLog_lectureId_key" ON public."AttendanceAuditLog" USING btree ("lectureId");


--
-- Name: AttendanceAuditLog_performedById_key; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX "AttendanceAuditLog_performedById_key" ON public."AttendanceAuditLog" USING btree ("performedById");


--
-- Name: Attendance_markedById_key; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX "Attendance_markedById_key" ON public."Attendance" USING btree ("markedById");


--
-- Name: Branch_principalId_key; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX "Branch_principalId_key" ON public."Branch" USING btree ("principalId");


--
-- Name: FeePayment_academicMonthId_key; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX "FeePayment_academicMonthId_key" ON public."FeePayment" USING btree ("academicMonthId");


--
-- Name: FeeTransaction_receiptNo_key; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX "FeeTransaction_receiptNo_key" ON public."FeeTransaction" USING btree ("receiptNo");


--
-- Name: SchoolFacultyAttendance_markedById_key; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX "SchoolFacultyAttendance_markedById_key" ON public."SchoolFacultyAttendance" USING btree ("markedById");


--
-- Name: SchoolFaculty_userid_key; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX "SchoolFaculty_userid_key" ON public."SchoolFaculty" USING btree (userid);


--
-- Name: Student_userId_key; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX "Student_userId_key" ON public."Student" USING btree ("userId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: AcademicMonth AcademicMonth_sessionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."AcademicMonth"
    ADD CONSTRAINT "AcademicMonth_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES public."AcademicSession"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: AcademicSession AcademicSession_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."AcademicSession"
    ADD CONSTRAINT "AcademicSession_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public."Branch"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: AcademicSession AcademicSession_endMonthId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."AcademicSession"
    ADD CONSTRAINT "AcademicSession_endMonthId_fkey" FOREIGN KEY ("endMonthId") REFERENCES public."AcademicMonth"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: AcademicSession AcademicSession_startMonthId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."AcademicSession"
    ADD CONSTRAINT "AcademicSession_startMonthId_fkey" FOREIGN KEY ("startMonthId") REFERENCES public."AcademicMonth"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: AttendanceAuditLog AttendanceAuditLog_lectureId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."AttendanceAuditLog"
    ADD CONSTRAINT "AttendanceAuditLog_lectureId_fkey" FOREIGN KEY ("lectureId") REFERENCES public."Lecture"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: AttendanceAuditLog AttendanceAuditLog_performedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."AttendanceAuditLog"
    ADD CONSTRAINT "AttendanceAuditLog_performedById_fkey" FOREIGN KEY ("performedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Attendance Attendance_enrollmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Attendance"
    ADD CONSTRAINT "Attendance_enrollmentId_fkey" FOREIGN KEY ("enrollmentId") REFERENCES public."Enrollment"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Attendance Attendance_lectureId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Attendance"
    ADD CONSTRAINT "Attendance_lectureId_fkey" FOREIGN KEY ("lectureId") REFERENCES public."Lecture"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Attendance Attendance_markedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Attendance"
    ADD CONSTRAINT "Attendance_markedById_fkey" FOREIGN KEY ("markedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Attendance Attendance_schoolDayId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Attendance"
    ADD CONSTRAINT "Attendance_schoolDayId_fkey" FOREIGN KEY ("schoolDayId") REFERENCES public."SchoolDay"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Branch Branch_principalId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Branch"
    ADD CONSTRAINT "Branch_principalId_fkey" FOREIGN KEY ("principalId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Branch Branch_schoolId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Branch"
    ADD CONSTRAINT "Branch_schoolId_fkey" FOREIGN KEY ("schoolId") REFERENCES public."School"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ClassLabel ClassLabel_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."ClassLabel"
    ADD CONSTRAINT "ClassLabel_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public."Branch"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ClassTeacher ClassTeacher_classId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."ClassTeacher"
    ADD CONSTRAINT "ClassTeacher_classId_fkey" FOREIGN KEY ("classId") REFERENCES public."Class"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ClassTeacher ClassTeacher_teacherId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."ClassTeacher"
    ADD CONSTRAINT "ClassTeacher_teacherId_fkey" FOREIGN KEY ("teacherId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Class Class_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Class"
    ADD CONSTRAINT "Class_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public."Branch"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Class Class_classLabelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Class"
    ADD CONSTRAINT "Class_classLabelId_fkey" FOREIGN KEY ("classLabelId") REFERENCES public."ClassLabel"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Class Class_sectionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Class"
    ADD CONSTRAINT "Class_sectionId_fkey" FOREIGN KEY ("sectionId") REFERENCES public."Section"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: CustomFieldValue CustomFieldValue_customFieldId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."CustomFieldValue"
    ADD CONSTRAINT "CustomFieldValue_customFieldId_fkey" FOREIGN KEY ("customFieldId") REFERENCES public."CustomField"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: CustomField CustomField_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."CustomField"
    ADD CONSTRAINT "CustomField_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public."Branch"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: CustomField CustomField_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."CustomField"
    ADD CONSTRAINT "CustomField_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: DiscountPolicy DiscountPolicy_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."DiscountPolicy"
    ADD CONSTRAINT "DiscountPolicy_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public."Branch"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Discount Discount_feeDocId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Discount"
    ADD CONSTRAINT "Discount_feeDocId_fkey" FOREIGN KEY ("feeDocId") REFERENCES public."FeeDoc"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Discount Discount_feeTemplateId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Discount"
    ADD CONSTRAINT "Discount_feeTemplateId_fkey" FOREIGN KEY ("feeTemplateId") REFERENCES public."FeeTemplate"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Discount Discount_policyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Discount"
    ADD CONSTRAINT "Discount_policyId_fkey" FOREIGN KEY ("policyId") REFERENCES public."DiscountPolicy"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Discount Discount_transactionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Discount"
    ADD CONSTRAINT "Discount_transactionId_fkey" FOREIGN KEY ("transactionId") REFERENCES public."FeeTransaction"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Enrollment Enrollment_classId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Enrollment"
    ADD CONSTRAINT "Enrollment_classId_fkey" FOREIGN KEY ("classId") REFERENCES public."Class"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Enrollment Enrollment_sessionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Enrollment"
    ADD CONSTRAINT "Enrollment_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES public."AcademicSession"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Enrollment Enrollment_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Enrollment"
    ADD CONSTRAINT "Enrollment_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public."Student"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: FeeDoc FeeDoc_enrollmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."FeeDoc"
    ADD CONSTRAINT "FeeDoc_enrollmentId_fkey" FOREIGN KEY ("enrollmentId") REFERENCES public."Enrollment"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: FeeDoc FeeDoc_feeHeadId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."FeeDoc"
    ADD CONSTRAINT "FeeDoc_feeHeadId_fkey" FOREIGN KEY ("feeHeadId") REFERENCES public."FeeHead"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: FeeDoc FeeDoc_templateId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."FeeDoc"
    ADD CONSTRAINT "FeeDoc_templateId_fkey" FOREIGN KEY ("templateId") REFERENCES public."FeeTemplate"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: FeePaymentAllocation FeePaymentAllocation_feePaymentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."FeePaymentAllocation"
    ADD CONSTRAINT "FeePaymentAllocation_feePaymentId_fkey" FOREIGN KEY ("feePaymentId") REFERENCES public."FeePayment"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: FeePaymentAllocation FeePaymentAllocation_transactionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."FeePaymentAllocation"
    ADD CONSTRAINT "FeePaymentAllocation_transactionId_fkey" FOREIGN KEY ("transactionId") REFERENCES public."FeeTransaction"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: FeePayment FeePayment_academicMonthId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."FeePayment"
    ADD CONSTRAINT "FeePayment_academicMonthId_fkey" FOREIGN KEY ("academicMonthId") REFERENCES public."AcademicMonth"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: FeePayment FeePayment_feeDocId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."FeePayment"
    ADD CONSTRAINT "FeePayment_feeDocId_fkey" FOREIGN KEY ("feeDocId") REFERENCES public."FeeDoc"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: FeeTemplate FeeTemplate_classLabelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."FeeTemplate"
    ADD CONSTRAINT "FeeTemplate_classLabelId_fkey" FOREIGN KEY ("classLabelId") REFERENCES public."ClassLabel"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: FeeTemplate FeeTemplate_feeHeadId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."FeeTemplate"
    ADD CONSTRAINT "FeeTemplate_feeHeadId_fkey" FOREIGN KEY ("feeHeadId") REFERENCES public."FeeHead"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: FeeTemplate FeeTemplate_sessionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."FeeTemplate"
    ADD CONSTRAINT "FeeTemplate_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES public."AcademicSession"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: FeeTransactionItem FeeTransactionItem_feeDocId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."FeeTransactionItem"
    ADD CONSTRAINT "FeeTransactionItem_feeDocId_fkey" FOREIGN KEY ("feeDocId") REFERENCES public."FeeDoc"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: FeeTransactionItem FeeTransactionItem_transactionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."FeeTransactionItem"
    ADD CONSTRAINT "FeeTransactionItem_transactionId_fkey" FOREIGN KEY ("transactionId") REFERENCES public."FeeTransaction"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: FeeTransaction FeeTransaction_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."FeeTransaction"
    ADD CONSTRAINT "FeeTransaction_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: FeeTransaction FeeTransaction_enrollmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."FeeTransaction"
    ADD CONSTRAINT "FeeTransaction_enrollmentId_fkey" FOREIGN KEY ("enrollmentId") REFERENCES public."Enrollment"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: LateFee LateFee_feeDocId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."LateFee"
    ADD CONSTRAINT "LateFee_feeDocId_fkey" FOREIGN KEY ("feeDocId") REFERENCES public."FeeDoc"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: LateFee LateFee_feeTemplateId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."LateFee"
    ADD CONSTRAINT "LateFee_feeTemplateId_fkey" FOREIGN KEY ("feeTemplateId") REFERENCES public."FeeTemplate"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: LateFee LateFee_paymentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."LateFee"
    ADD CONSTRAINT "LateFee_paymentId_fkey" FOREIGN KEY ("paymentId") REFERENCES public."FeePayment"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: LateFee LateFee_transactionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."LateFee"
    ADD CONSTRAINT "LateFee_transactionId_fkey" FOREIGN KEY ("transactionId") REFERENCES public."FeeTransaction"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Lecture Lecture_classId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Lecture"
    ADD CONSTRAINT "Lecture_classId_fkey" FOREIGN KEY ("classId") REFERENCES public."Class"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Lecture Lecture_schoolDayId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Lecture"
    ADD CONSTRAINT "Lecture_schoolDayId_fkey" FOREIGN KEY ("schoolDayId") REFERENCES public."SchoolDay"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Lecture Lecture_subjectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Lecture"
    ADD CONSTRAINT "Lecture_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES public."Subject"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Lecture Lecture_teacherId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Lecture"
    ADD CONSTRAINT "Lecture_teacherId_fkey" FOREIGN KEY ("teacherId") REFERENCES public."SchoolFaculty"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Parent Parent_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Parent"
    ADD CONSTRAINT "Parent_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SchoolDay SchoolDay_sessionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."SchoolDay"
    ADD CONSTRAINT "SchoolDay_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES public."AcademicSession"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SchoolFacultyAttendance SchoolFacultyAttendance_lectureId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."SchoolFacultyAttendance"
    ADD CONSTRAINT "SchoolFacultyAttendance_lectureId_fkey" FOREIGN KEY ("lectureId") REFERENCES public."Lecture"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SchoolFacultyAttendance SchoolFacultyAttendance_markedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."SchoolFacultyAttendance"
    ADD CONSTRAINT "SchoolFacultyAttendance_markedById_fkey" FOREIGN KEY ("markedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SchoolFacultyAttendance SchoolFacultyAttendance_schoolDayId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."SchoolFacultyAttendance"
    ADD CONSTRAINT "SchoolFacultyAttendance_schoolDayId_fkey" FOREIGN KEY ("schoolDayId") REFERENCES public."SchoolDay"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SchoolFacultyAttendance SchoolFacultyAttendance_teacherId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."SchoolFacultyAttendance"
    ADD CONSTRAINT "SchoolFacultyAttendance_teacherId_fkey" FOREIGN KEY ("teacherId") REFERENCES public."SchoolFaculty"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SchoolFaculty SchoolFaculty_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."SchoolFaculty"
    ADD CONSTRAINT "SchoolFaculty_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public."Branch"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SchoolFaculty SchoolFaculty_userid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."SchoolFaculty"
    ADD CONSTRAINT "SchoolFaculty_userid_fkey" FOREIGN KEY (userid) REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: School School_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."School"
    ADD CONSTRAINT "School_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Section Section_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Section"
    ADD CONSTRAINT "Section_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public."Branch"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Student Student_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Student"
    ADD CONSTRAINT "Student_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public."Branch"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Student Student_fatherId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Student"
    ADD CONSTRAINT "Student_fatherId_fkey" FOREIGN KEY ("fatherId") REFERENCES public."Parent"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Student Student_motherId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Student"
    ADD CONSTRAINT "Student_motherId_fkey" FOREIGN KEY ("motherId") REFERENCES public."Parent"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Student Student_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Student"
    ADD CONSTRAINT "Student_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Subject Subject_classId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Subject"
    ADD CONSTRAINT "Subject_classId_fkey" FOREIGN KEY ("classId") REFERENCES public."Class"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: erp_user
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

